{% extends 'base_site.html' %}

{% block main_content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/new_user.css' %}">


{% if perms.users.can_manage_users %}
<form method="post" novalidate>
    {% csrf_token %}
    <h1>Nuevo usuario</h1>
    <hr>

    {% for row in field_layout %}
    <div class="row">
        {% for field in row.fields %}
        <!--<div class="col-md-{% if row|length == 1 %}12{% else %}6{% endif %} mb-3">-->
        <div class="col-md-{{row.col}} mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
            <div class="alert alert-danger mt-1 p-1" role="alert">
                {{ field.errors|striptags }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary ">
            Añadir usuario
        </button>
    </div>

</form>
{% endif %}
{% endblock %}