{% extends 'base_site.html' %}
{% block main_content %}
    {% if perms.inventory.add_building %}
        <div x-data="formHandler()">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
               <div class="collaborator-card">

                <!-- COLUMNA IZQUIERDA (SOLO IMAGEN) -->
                <div class="left-column">
                    <div class="collaborator-image">
                        <label class="image-upload-box" for="{{ form.image_file.id_for_label }}">
                            <div class="upload-content">
                                <i class="bi bi-image"></i>
                                <p>Agregar imagen del plantel</p>
                                <span class="upload-btn">Seleccionar imagen</span>
                            </div>
                            {{ form.image_file }}
                        </label>
                    </div>
                </div>

                <!-- COLUMNA DERECHA (DATOS PLANTEL + BOTONES) -->
                <div class="plantelcard-content">
                    <h3>Datos del plantel</h3>

                    <div class="plantel-main-fields">
                        <label>Nombre del plantel</label>
                        {{ form.name }}
                    </div>

                    <!-- BOTONES -->
                    <div class="users-actions">
                        <button type="button" @click="addForm">+ Añadir usuario</button>
                        <button type="submit">Guardar todo</button>
                    </div>
                </div>

                <!-- FORMULARIOS DE USUARIO (DEBAJO DE TODO) -->
                <div class="users-full-row">

                    <!-- Management form -->
                    <input type="hidden" name="user_set-TOTAL_FORMS" :value="count">
                    <input type="hidden" name="user_set-INITIAL_FORMS" value="{{ formset.initial_form_count }}">
                    <input type="hidden" name="user_set-MIN_NUM_FORMS" value="0">
                    <input type="hidden" name="user_set-MAX_NUM_FORMS" value="1000">

                    <div id="user-form-list">
                        {% for user_form in formset %}
                            <div class="user-card">
                                {{ user_form.as_p }}
                            </div>
                        {% endfor %}

                        <template x-for="(form, index) in extraforms" :key="index">
                            <div class="user-card" x-html="form.html"></div>
                        </template>
                    </div>

                </div>

            </div>
            </form>

            <!-- TEMPLATE -->
            <template id="form-template">
                <div>
                    {{ formset.empty_form.as_p }}
                    <button
                        type="button"
                        @click="removeForm(index)"
                        style="margin-top:12px;background:#ef4444;color:white">
                        Eliminar
                    </button>
                </div>
            </template>

            </div>

        <script>
            function formHandler() {
                return {
                    count: {{ formset.total_form_count }},
                    extraforms: [],

                    addForm() {
                        let rawHTML = document.getElementById('form-template').innerHTML;
                        console.log(rawHTML);
                        let newHTML = rawHTML.replaceAll("__prefix__", this.count);
                        this.extraforms.push({html: newHTML});
                        this.count++;
                    },

                    removeForm(index) {
                        this.extraforms.splice(index, 1);
                        this.count--;
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}
